<p id="notice"><%= notice %></p>

<h1>Analysis Docs</h1>

<table border="2">
  <thead bgcolor="grey">
    <tr>
      <th>Us number</th>
      <th>Us description</th>
      <th>User name </th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @analysis_docs.each do |analysis_doc| %>
      <tr>
        <td><%= analysis_doc.us_number %></td>
        <td><%= analysis_doc.us_description %></td>
        <td><%= analysis_doc.user.forename   %></td>
        <td><%= link_to 'Show', analysis_doc %></td>
        <td><%= link_to 'Edit', edit_analysis_doc_path(analysis_doc) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Analysis Doc', new_analysis_doc_path %>
